name: CI

on:
  push:
    branches: ["main", "dev"]
  pull_request:

jobs:
  typecheck:
    runs-on: ubuntu-latest
    env:
      DATABASE_URL: "postgresql://postgres:password@localhost:5432/napgram?schema=public"
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
      - run: pnpm i
      - run: pnpm prisma generate
      - run: pnpm type-check
